@import 'src/constants';

$dropdown-width: 160px;
$dropdown-height: 40px;
$dropdown-border-right-size: 3.5px;
$dropdown-link-horizontal-padding: 15px;

.dropdown {
    display: block;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    border-right: $dropdown-border-right-size solid $white-15;
    width: $dropdown-width;
    height: $dropdown-height;
    background: $background-light-color;
    cursor: pointer;

    &:not(:last-of-type) {
        border-bottom: 1px dotted $white-15;
    }

    &:hover {
        border-right: $dropdown-border-right-size solid $accent-bright-color;
        background: $background-dark-color;
    }

    &:hover > .dropdownContent {
        display: block;
    }

    &:hover > .link {
        color: $link-color;
    }
}

.dropdownContent {
    display: none;
    margin-left: $dropdown-width;

    &:first-of-type {
        margin-top: -$dropdown-height;
    }
}

.link {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 0 calc(#{$dropdown-link-horizontal-padding} - #{$dropdown-border-right-size}) 0 $dropdown-link-horizontal-padding;
    line-height: $dropdown-height;
    text-decoration: none;
    color: $text-color;
}
